@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
:root{
    --main-color: #FF8500;
}
nav .logo{
    padding: 32px 61px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.form .welcome{
    font-weight: 600;
    font-size: 1.875rem;
}
.form .text{
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 17px;
}
.form form{
    margin-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
}
.form form input{
    border: none;
    border-bottom: 1px solid #A8A8A8;
    padding-bottom: 9px;
    width: 382px;
}
.form form input::placeholder{
    color: #000;
}
.form form input:focus{
    border-bottom: 1px solid #A8A8A8;
    outline: none;
}
.form form .password{
    position: relative;
}
.form form .password img{
    position: absolute;
    right: 2px;
    bottom: 5px;
}
.form form input[type='submit']{
    align-self: flex-end;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 5px 19px;
     width: fit-content;
}
footer .desktopBack{
    position: absolute; 
    bottom: 0;
    z-index: -1;
    width: 100vw;
    left: 0;
}
footer .content {
    width: 100%;
    padding: 0 61px;
    position: absolute;
    bottom: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobileBack{
    display: none;
}
footer .content .socialIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 9px;
}
footer .content  .copyrights{
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}
@media (max-width:650px) {
    nav .logo{
        padding: 0;
        padding-top: 52px ;
        padding-left: 32px;
    }
    .form form{
        width: 100%;
    }
    .form .welcome{
        font-size: 1.5rem;
    }
    .form .text{
        font-weight: 400;
        font-size: 1rem;
        margin-top: 17px;
    }
    .form form input{
        width: 90%;
    }
    .form form .password{
        width: 90%;
        position: relative;
    }
    .form form .password input{
        width: 100%;
    }
    .form form input[type='submit']{
        align-self: center;
        padding: 7px 78px;
    }
    footer .desktopBack{
        display: none;
    }
    footer .mobileBack{
        height: 170px;
        display: block;
        position: fixed; 
        bottom: 0;
        z-index: -1;
        width: 100vw;
        left: 0;
    }
    footer .content{
        position: absolute;
        bottom: 10px;
         flex-direction: column;
         row-gap: 21px;
         text-align: center;
     }
     footer .content .copyrights{
        font-size: 0.625rem;
    }
}